<!--include header-->
<%- include('include/_header.ejs')%>
    <!--/include header-->
    <main id="site-main">
        <div class="container">
            <div class="box-nav.d-flex-justify-between-text-center">
                <div class="filter">
                    <a href="/"><i class="fa-solid fa-users"></i>&nbsp;Employees</a>
                </div>
                <%- include('include/_form.ejs')%>
            </div>            
        </div>
    </main>
        <!--include footer-->
        <%- include('include/_footer.ejs')%>
            <!--/include footer-->