<!--include header-->
<%- include('include/_header.ejs')%>
    <!--/include header-->
    <main id="site-main">
        <div class="container">
            <div class="box-nav.d-flex-justify-between-text-center">
                <a href="/add_employee" class="border-shadow1"> <span class"text-gradient"><i
                            class="fa-solid fa-plus"></i>&nbsp;Add New Employee<span></a>
            </div>
            <!-- Form Handling -->
            <form action="/" method="POST">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>Name</th>
                            <th>ID</th>
                            <th>Department</th>
                            <th>Salary</th>
                            <th></th>
                        </tr>
                    </thead>
                    <%- include('include/_show.ejs')%>

                        </tbody>
                </table>
            </form>
        </div>
    </main>
    <!--include footer-->
    <%- include('include/_footer.ejs')%>
        <!--/include footer-->